body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:85%;
}

h1, h2, h4 {
	text-align:center;
}

h1 {
	font-size:150%;
	font-weight:bold;
	margin:1%;
}

h3 {
	font-size:120%;
	margin:5%;
	margin-left:0;
	text-transform:uppercase;
}

h4 {
	display:none;
}

p, ul, li {
	margin-bottom:3%;
	line-height:135%;
}

p {
	text-align:justify;
}

li {
	margin-left:5%;
}

a, ul {
	text-decoration: none;
}

nav {
	text-align:center;
	margin-top:15px;
	display:block;
	font-size:180%;
}

nav a:hover {
	opacity:.7;
}

audio {
	display:none;
}

.container {
	margin:0 auto;
	margin-top:15px;
	margin-bottom:30px;
	width:80%;
	height:100%;
}

#logo {
    display:none;
}

#header {
	text-align:center;
	width:100%;
}

#header img {
	max-width:100%;
	height:auto;
}

.column img {
	margin:20px 0 20px 0;
	max-width:100%;
	height:auto;
	border:1px solid #2d338a;
	border-radius:10px;
}

#images {
	float:left;
	display:block;
	width:100%;
	height:400px;
}

#images img {
	max-width:100%;
	height:auto;
}

#leftimage, #rightimage {
	position:relative;
	left:50%;
}

#leftimage {
	margin-left:-250px;
}

#leftimage img, #rightimage img {
	position:absolute;
	left:0;
	transition: opacity .5s ease-in-out;
}

.about img {
	float:left;
	margin-right:1.5%;
	max-width:100%;
	height:auto;
	border:1px solid #2d338a;
	border-radius:10px;
}

#footer {
	position:fixed;
	text-align:center;
	width:100%;
	bottom:0;
	height:30px;
	padding-top:5px;
	padding-bottom:5px;
	opacity:.7;
}

#footer img:hover {
	opacity:.5;
}