/** 
*	McCall Bliss Portfolio
*	May 2013
* 	
*	Author: McCall Bliss
*			mbliss04.github.com
*			@missmccallbliss
*
*/

@import url('formee-structure.css') all;
@import url('formee-style.css') all;

body {
	font-family: 'OstrichSansMedium', Helvetica, sans-serif;
	font-size: 120%;
	background-color: #f3f3f3;
	text-align: center;
}

p, #skills ul {
	font-family: 'Helvetica', Verdana, sans-serif;
	font-size: 80%;
}

h1 {
	font-family: 'OstrichSansRoundedMedium', Helvetica, sans-serif;
	font-size: 300%;
	margin-bottom: 0;
}

h2 {
	font-size: 150%;
	padding-top: 20px;
}

h3 {
	color: #9dccb0;
	font-size: 110%;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

hr {
	width: 50%;
	margin-bottom: 20px;
}

form {
	margin: 0 auto;
	padding: 10px;
	display: inline-block;
	margin: 0 auto;
	width: 80%;
}

label {
	text-align: left;
}

#top {
	width: 100%;
	height: 140px;
}

#logo {
	display: none;
}

#container {
	width: 100%;
}

#portfolio, #about, #social, #contact {
	padding: 30px 0 10px 0;
}

#sticky_navigation {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 10px 0 10px 0; 
	background-color: #f3f3f3;
	z-index: 150;
}

.show {
	display: none;
}

.bar {
	text-align: center;
	margin-bottom: 30px;
	font-size: 140%; 
}

.bar li {
	width: 100%;
	text-transform: uppercase;
	background-color: #9dccb0;
	margin: 2px;

}

.bar img {
	margin-right: 5px;
}

.bar li:hover {
	opacity: .6;
}

#header {
	height: 320px;
	background-color: #000;
}

#header h1 {
	color: #f3f3f3;
	font-size: 300%;
	padding-top: 90px;
	padding-bottom: 25px;
}

.tagline {
	font-size: 130%;
}

#portfolio {
	border-top: 1px solid black;
	background: url(../images/gplaypattern.png) 100% 0 repeat fixed;
}

#workcontainer {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#workcontainer img {
	border: 10px solid #f3f3f3;
	border-radius: 5px;
}

#list {
	margin: 0 auto;
	width: 70%;
	padding-bottom: 40px;
	display: inline-block;
}

.viewport {
    border: 3px solid #eee;
    float: left;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 9px 9px 0;
    position: relative;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
    display: block;
    position: relative;
}

.viewport a img {
    height: 220px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 320px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
    font-size: 2.0em;
    font-weight: bold;
    height: 220px;
    padding-top: 50px;
    position: absolute;
    left: -10px;
    text-align: center;
    text-decoration: none;
    width: 320px;
    z-index: 100;
}
    .viewport a span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
.pink-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
    .pink-background em {
        color: #ccc;
    }

.return {
	width: 100%;
	padding: 50px 0 10px 0;
	text-align: center;
	width: 100%;
}

#about a:hover {
	color: #ffa6a6;
}

#containment {
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#description p {
	text-align: justify;
}

#description a, .create {
	color: #d2434b;
}

#sprite {
	margin: 0 auto;
	text-align: center;
	width: 175px;
	height:100px;
	overflow: hidden;
	background: url(../images/divdesign.png) 0 0;
}

#sprite:hover {
	background: url(../images/divdesign.png) -175px -101px;
}

#picture {
	padding: 20px 0 20px 0;
}

#skills ul {
	margin: 20px 0 20px 0;
}

#skills li {
	text-align: right;
	color: #f3f3f3;
	padding: 3px;
	padding-left: 5px;
	margin: 2%;
	background-color: #d2434b;
	border-radius: 2px;
}

#fill {
	width: 100%;
	display: block;
	background-color: #000;
}

#icons {
	padding: 10px 0 30px 0;
}

#icons img {
	border:3px solid #f3f3f3;
	border-radius:90px;
	background:#f3f3f3;
}

#icons img:hover {     
	border:3px solid #9dccb0;
	border-radius:90px;
	background:#f3f3f3;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

#contact {
	background-color: black;
}

#footer {
	background: url(../images/gplaypattern.png) 100% 0 repeat fixed;
	padding: 20px 0 20px 0;
}
