body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:85%;
}

h1, h2 {
	text-align:center;
}

h1 {
	font-size:150%;
	font-weight:bold;
	margin:1%;
}

h3 {
	font-size:120%;
	margin:5%;
	margin-left:0;
	text-transform:uppercase;
}

h4 {
	color:#FFFF00;
}

p, ul, li {
	margin-bottom:3%;
	line-height:135%;
}

p {
	text-align:justify;
}

li {
	margin-left:5%;
}

a, ul {
	text-decoration: none;
}

nav {
	text-align:center;
	margin-top:5px;
}

nav a:hover {
	opacity:.7;
}

audio {
	width:300px;
	margin-left:40%;
	padding-top:2.5%;
}

.container {
	margin:0 auto;
	margin-top:90px;
	width:80%;
	height:100%;
}

.space {
	display:block;
	height:650px;
}

#logo {
    position:fixed;
	top:0;
	left:50%;
	margin:30px 0 20px 0;
	margin-left:-94.5px;
	opacity:.9;
	text-align:center;
	height:70px;
	overflow:hidden;  
}

#logo img:hover {
	margin-top:-70px;
}

#header {
	text-align:center;
	width:100%;
}

.column {
	width:39%;
	float:left;
}

#middle {
	display:block;
	float:left;
	width:22%;
	height:600px;
}

#images {
	float:left;
	display:block;
	width:100%;
	height:400px;
	background-color:#FFF;
}

#leftimage, #rightimage {
	position:relative;
	left:25%;
}

#leftimage {
	margin-right:250px;
}

#rightimage {
	margin-left:250px;
}

#leftimage img, #rightimage img {
	position:absolute;
	left:0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#leftimage img.top:hover, #rightimage img.top:hover {
	opacity:.4;
}

.link {
	float:left;
	display:block;
	width:50%;
	text-align:center;
}

.about {
	margin:1.5% 20% 2.5% 20%;
}

.about img {
	float:left;
	margin-right:1.5%;
	border:1px solid #2d338a;
	border-radius:10px;
}

#footer {
	position:fixed;
	text-align:center;
	width:100%;
	bottom:0;
	height:30px;
	padding-top:5px;
	padding-bottom:5px;
	opacity:.7;
	/* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#footer img:hover {
	opacity:.5;
}