@charset "utf-8";

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
}

h1 {
	font-size:130%;
	font-weight:bold;
	text-align:center;
}

h2 {
	font-size:120%;
	color:1A1A1A;
	text-align:center;
}

p {
	margin:10px;
}

a, ul {
	text-decoration: none;
}

.container {
	margin:0 auto;
	width:80%;
	height:100%;
}

#header {
	background-image: url('images/mbsprite.png');
	margin:0 auto;
	text-align:center;
	width:100%;
	height:50px;
	overflow:hidden;  
    position:relative;
}

#header img:hover {
	margin-top:50px;
}

.link {
	float:left;
	display:block;
	width:50%;
	text-align:center;
}

.leftcol {
	display:block;
	float:left;
	width:30%;
}

.rightcol {
	width:70%;
}

#logo {
	float:left;
	margin:50px 0 10px 0;
	width:100%;
	height:70px;
	overflow:hidden;  
    position:relative;
}

#logo img:hover {
	margin-top:-70px;
}

#footer {
	position:fixed;
	text-align:center;
	width:100%;
	bottom:0;
	padding-top:5px;
	opacity:.9;
	/* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}