div#landing
    div.wrapper
        h1#title You + McCall Bliss
    div#welcome.trans
        h2 Welcome to the interactive game where we determine whether McCall Bliss is a good fit at your company
        h2(contenteditable="true") Enter Company Name
    button#startQuiz.ghostbutton Let's Begin